body{
overflow:hidden;
}
.container{
margin-right:10%;
margin-left:10%;
justify-center:center;
}
.head{
    width:105%;
    background-color:black;
    display:flex;
    padding: 0 0px;
    font-size: 15px;
    color:#3f3b4e;
    border-bottom: 0.1px solid  #e9e7f1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);
    align:left;


}
.head2{
    display:flex;
    margin-left:66%;
    padding: 0px 0px;
    flex-direction:row;
    color: black;
}
.container1{
box-sizing:border-box;
background-color:lightblue;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);
width:375px;
height:475px;
border:2px solid blue;
padding: 0px;
justify-content:center;
text-align:left;
}
.cont{
padding:50px;
width:70%;
height:80%;
margin-left:20%;
justify-content:center;
}
.head3{
    width:100%;
    padding:20px 0px;
    background-color:blue;   
    font-size: 20px;
    color:#FFFFFF;
    border-bottom: 0.1px solid  #e9e7f1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);
    text-align:center;
}
.d1{
    padding:8px 8px;
    font-size: 20px;
}
.d2{
    padding:8px 8px;
    font-size: 20px;
}
.d3{
    padding:0 10px;
    }
.d4{
    padding:10px 15px;
    font-size: 20px;
   }

#navlink{
	text-decoration:none;
	color:#D3D3D3;
}
.body1{
width:90%;
display:flex;
padding:10px 0px;
}
.d5{
widh:90%;
padding:2px 5px;
text-align:right;
}

#background {
	width: 95%;
	height:250px;
	background: url("customer-feedback-bkgrd.jpg") no-repeat center center;
  	background-size: cover;
                 text-align:center;
}
#bg-text {
	
	padding:40px;
	margin-left: 20%;
	width: 40%;
	text-align: center;
	color:#262E44;
}

#bg-subheading {
        flex:30%;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	font-weight: normal;
	font-size: 20px;
	
        color:white;
        opacity:0.6;
        text-align:center;
}
p {
	display: inline-block;
	font-weight: normal;
	font-size: 10px;
	background-color: black;
        color:white;
        opacity:0.6;
        text-align:center;
}


#button{
background-color:red;
color:white;
width:100px;
height:30px;
font-family:sofia;
cursor:pointer;
}

#img1 {
   width:50%;
  animation:animatezoom 5s;
}

@keyframes animatezoom{
  from{transform:scale(0)} to{transform:scale(1)}
}

.foot{
    width:100%;
    background-color:black;
    display:flex;
    padding: 0 20px;
    border-bottom: 0.1px solid  #e9e7f1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);
    align:center;
    height:20px;
}
@media screen and (max-width: 850px) {
.head{
    width:95%;
    background-color:black;
    display:flex;
    padding: 0 0px;
    font-size: 10px;
    color:#3f3b4e;
    border-bottom: 0.1px solid  #e9e7f1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);
    align:left;


}
.head2{
    display:flex;
    margin-left:66%;
    padding: 0 0px;
    flex-direction:row;
    color: black;
}
.d2{
    padding:0 10px;
    font-size: 10px;
}
.d3{
    padding:0 10px;
     font-size: 10px;
}
#bg-text {
	padding:40px;
	margin-left:15%;
	width: 20%;
	text-align: left;
	color: #262E44;
}
#bg-subheading {
        flex:30%;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	font-weight: normal;
	font-size: 10px;
	background-color: black;
        color:white;
        opacity:0.6;
        text-align:center;
}
#button{
background-color:red;
color:white;
width:100px;
height:20px;
}
.cont{
padding:50px;
width:60%;
height:80%;
margin-left:0%;
justify-content:center;
}
}